header {
    background-color: #042608;
    justify-content: center;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #faedd9;
    gap: 20px;
    padding: 30px;

}

.miguel {
    background-color: #2a5c0b;
    padding: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    display: inline-flexbox;
}

.jhonny {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a5c0b;
    padding: 10px;
    color: black;
}

.fabio {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #faedd9;
    justify-content: center;
    display: flex;
    padding: 150px;
}

.bia {
    background-color: #faedd9;
    background-image: url(imagem/gbf1.webp);
    padding: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: justify;
    gap: 30px;
}

.bia h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #faedd9;

}


.bia button {
    border-radius: 10px;
    margin: 200px 40px;
    background-color: #2a5c0b;
    color: black;
}

footer {
    background-color: #ea2a15;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    padding: 150px;
}

footer i {
    width: 40px;
    color: #faedd9;

}