header {
    background-color: #5b756c;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: baseline;
}

header h1 {
    color: #9a947c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.miguel {
    background: #748b83;
    padding: 150px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display: flex;
    background-image: url(imagem/gbf1.webp);
   }

header img {
    width: 70px;
}

.jhonny {
    background-color: #9a947c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display: flex
}

.fabio {
    background-color: #9a947c;
    justify-content: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bia {
    background-color: #ccac95;
    padding: 20px;
    justify-content: end;
    display: flex;

}
.bia i{
    color: ;
    font-size: 35px;
}
button{
width: 100px;
padding: 5px;
border-radius: 5px; /*Arredondamento do botão*/
background-color: #9d7e79;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: #9d7e79;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display: flex;
}