@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* estilizando o header */
header {
    padding: 25px;
    /*responsavel pelo preenchimento interno/tamanho*/
    background-color: #121210;
    /*cor de fundo*/
    display: flex;
    /*tornando os itens flex/ lado a lado*/
    justify-content: center;
    /*justificando o conteudo ao centro*/
    gap: 50px;
    /*espaço entre os elementos*/
    align-items: center;
    /*responsavel por alinhar verticalmente os itens*/
}

/* estilizando o icone */
header i {
    color: #b7ae8f;
    /* cor do icone */
    font-size: 60px;
    /* tamanho do icone */

}

header h1 {
    color: #b7ae8f;
    /*cor da letra*/
    font-size: 36px;
    /*tamanho da letra*/
    font-family: "Dancing Script", cursive;
}

.list-menu ul {
    /*Alteraçao na lista nao oredenada (elemento pai)*/
    display: flex;
    /* tornando as ( li ) flex/ladoa a lado*/
    justify-content: center;
    /*Deixando elas centralisadas*/
    gap: 25px;
    /*Espaço entre as ( li )*/
}

.list-menu ul li {
    /*Alteraçao da lista ( li ) (elemento filho)*/
    list-style: none;
    /*removendo o estilo de lista aplicado por psdrao*/
}

.list-menu ul li a {
    text-decoration: none;
    /*remoçao do sublinhado (Descoraçao de texto*/
    color: #978f84;
}

/* FIM DO CABEÇARIO  */

/* INICIO PRIMERIRA SESSAO */

.gabriel {
    padding: 15px;
    background-color: #4a362f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.gabriel span {
    color: #121210;
}

.gabriel {
    font-size: 30px;
    color: #b7ae8f;
}

.gabriel img {
    width: 400px;
    height: 300px;
}


/* inicio da segunda sessao */

.bastos {
    background-color: #978f84;
    padding: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.bastos i {
    font-size: 50px;
    color: #121210;

}

.bastos p {
    color: #121210;
    font-size: 30px;
    font-family: "Dancing Script", cursive;

}

/*  fim da sugunda sessao*/

.freitas {
    padding: 200px;
    background-image: url(imagem/pipoca.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;

}

.freitas button {
    padding: 10px;
    background-color: #978f84;
    color: #121210;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* final da trerseira sessao */

footer {
    padding: 50px;
    background-color: #4a362f;
    text-align: center;
    /*momentaneo*/
}

footer p {
    color: #978f84;
    font-size: 25px;
}

footer i {

    color: #121210;
    /*cor do iicone*/
    font-size: 20px;
    /*tamanho do icone*/
}

.sessao-04 {
    padding: 150px;
    /*preencimento/tamanho da section*/
    background-color: #121210;
    /*cor do fundo*/
    display: flex;
    /*aqui estamos deixando as caixas lado alado*/
    justify-content: space-evenly;
    /*estamos justificando o possicionamento das caixas*/
    gap: 20px;
    /*brecha entre as caixas*/
}

.sessao-04 div {
    width: 300px;
    height: 300px;
    background-color: #4a362f;
    text-align: center;
    /*estou alinhando o texto ao centro*/
    padding: 15px;
    /*margem interna da caixa*/
}

.div-01 p {
    color: #b7ae8f;
}

.div-02 {
    /*estamos auterendo a segunda caixa/div*/
    background-image: url(imagem/kira.jpg);
    /*inserindo img*/
    background-size: cover;
    /*aplicando o preenchimento total*/
}

.div-03 img {
    width: 100px;
    height: 100px;
}

.div-03 p {
    font-size: 17px;
    /*tamanho da letra*/
    color: #b7ae8f;
    /*cor da letra*/
    font-weight: 600px;
    /*peso da font*/
    line-height: 30px;
    /*distancia entre as limhas*/
}